body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-config-heading {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}
.form-group {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.contrainer .form-config-heading,
.form-group {
  margin-bottom: 10px;
}
.form-group {
  font-weight: normal;
}
.form-group .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-group .form-control:focus {
  z-index: 2;
}